@import url("home.css");
footer {
    text-align: center;
    padding: 20px;
    background-color: var(--primary-orange);
    color: var(--white);
    font-size: 0.9em;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}